<div class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">
    <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
    <center class="widget-name"><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display#</a></center>
    <div>
        <div class="container-fluid">
            <div>
                <div class="col-xs-24" style="width:450px;">
                    <legend>&nbsp;</legend>
                    <span class="col-xs-24" id="titre_tile">
                        <span class="pull-left">
                            #imageSmall#
                            <center>
                                #door_locked#&nbsp;
                                #windows_closed#&nbsp;
                                #hood_closed#&nbsp;
                            </center>
                        </span>
                    </span>
                    #distance#
                    #modele#
                    #engine_type#
                    #engine_power#
                    #model_year#
                </div>
                <div id="thermique_bloc_#id#" class="col-xs-24 thermique_bloc" style="margin-top: 10px;margin-left:10px;">
                    <legend>Moteur thermique&nbsp;</legend>
                    #thermique_range#
                    #reservoir#
                    #drive#
                </div>
                <div id="electric_bloc_#id#" class="col-xs-24 electric_bloc" style="margin-top: 10px;margin-left:10px;">
                    <legend>Moteur electrique&nbsp; 
                        #charging_cable_connected#&nbsp;
                        #charging#
                    </legend>
                    #electric_range#
                    #battery_level#
                    #gain_charge#
                    #charging_power#
                    #charging_time_left#
                    #min_charge_level#
                </div>
                <div id="climatisation_bloc_#id#" class="col-xs-24 climatisation_bloc" style="margin-top: 10px;margin-left:10px;">
                    <legend></i>Climatisation&nbsp;#climatisation_status#</legend>                   
                    #target_temp#
                    #climatisation_time_left#
                </div>

                #divGraphInfo#    

            </div>
        </div>
    </div>
    <script>
        if (0 == #is_thermique_range_id#){
            document.getElementById('thermique_bloc_#id#').hidden=true;
        }
        if (0 == #is_electric_bloc_id#){
            document.getElementById('electric_bloc_#id#').hidden=true;
        }
        if (0 == #climatisation_bloc_id#){
            document.getElementById('climatisation_bloc_#id#').hidden=true;
        }
    </script>
</div>